# Pyber Challenge

### 4.3 Loading and Reading CSV files

In [13]:
# Add Matplotlib inline magic command
# %matplotlib inline
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd

# File to Load (Remember to change these)
city_data_to_load = "Resources/city_data.csv"
ride_data_to_load = "Resources/ride_data.csv"

# Read the City and Ride Data
city_data_df = pd.read_csv(city_data_to_load)
ride_data_df = pd.read_csv(ride_data_to_load)

### Merge the DataFrames

In [14]:
# Combine the data into a single dataset
pyber_data_df = pd.merge(ride_data_df, city_data_df, how="left", on=["city", "city"])

# Display the data table for preview
pyber_data_df.head()

,city,date,fare,ride_id,driver_count,type
0,Lake Jonathanshire,2019-01-14 10:14:22,13.83,5739410935873,5,Urban
1,South Michelleport,2019-03-04 18:24:09,30.24,2343912425577,72,Urban
2,Port Samanthamouth,2019-02-24 04:29:00,33.44,2005065760003,57,Urban
3,Rodneyfort,2019-02-10 23:22:03,23.44,5149245426178,34,Urban
4,South Jack,2019-03-06 04:28:35,34.58,3908451377344,46,Urban

## Deliverable 1: Get a Summary DataFrame

In [23]:
urban_cities_df = pyber_data_df[pyber_data_df["type"] == "Urban"]
suburban_cities_df = pyber_data_df[pyber_data_df["type"] == "Suburban"]
rural_cities_df = pyber_data_df[pyber_data_df["type"] == "Suburban"]

In [25]:
#  1. Get the total rides for each city type
urban_ride_count = urban_cities_df.groupby(["city"]).count()["ride_id"]
suburban_ride_count = suburban_cities_df.groupby(["city"]).count()["ride_id"]
rural_ride_count = rural_cities_df.groupby(["city"]).count()["ride_id"]

In [35]:
# 2. Get the total drivers for each city type
urban_drivers_count = urban_cities_df.groupby(["city"]).sum()["driver_count"]
suburban_drivers_count = suburban_cities_df.groupby(["city"]).sum()["driver_count"]
rural_drivers_count = rural_cities_df.groupby(["city"]).sum()["driver_count"]

In [36]:
suburban_drivers_count

city
Barronchester         176
Bethanyland           396
Brandonfort           190
Colemanland           506
Davidfurt             391
East Aaronbury         63
East Danielview       374
East Kentstad         260
East Marymouth        135
Grayville              30
Josephside            675
Lake Ann               36
Lake Omar             308
Lake Robertside       100
Lake Scott            414
Lewishaven            276
Lewisland              68
Mezachester           238
Myersshire            304
New Olivia            340
New Raymond           374
New Shannonberg       340
Nicolechester         361
North Jeffrey         143
North Richardhaven     14
North Timothy         105
Port Shane            133
Rodriguezview         300
Sotoville             110
South Brenda           24
South Teresa          462
Veronicaberg          340
Victoriaport          224
West Hannah           252
West Kimmouth          80
Williamsonville        28
Name: driver_count, dtype: int64

In [37]:
#  3. Get the total amount of fares for each city type
urban_total_fare = urban_cities_df.groupby(["city"]).sum()["fare"]
suburban_total_fare = suburban_cities_df.groupby(["city"]).sum()["fare"]
rural_total_fare = rural_cities_df.groupby(["city"]).sum()["fare"]

In [38]:
rural_total_fare

city
Barronchester         582.76
Bethanyland           593.21
Brandonfort           673.31
Colemanland           679.68
Davidfurt             543.93
East Aaronbury        230.95
East Danielview       536.53
East Kentstad         387.70
East Marymouth        832.55
Grayville             416.45
Josephside            887.17
Lake Ann              370.68
Lake Omar             393.05
Lake Robertside       781.55
Lake Scott            573.95
Lewishaven            302.90
Lewisland             588.44
Mezachester           522.92
Myersshire            483.25
New Olivia            578.92
New Raymond           615.16
New Shannonberg       482.43
Nicolechester         587.28
North Jeffrey         380.15
North Richardhaven    345.86
North Timothy         468.93
Port Shane            590.48
Rodriguezview         461.18
Sotoville             351.78
South Brenda          815.15
South Teresa          686.85
Veronicaberg          558.08
Victoriaport          388.92
West Hannah           620.50
West Kimmouth         597.43
Williamsonville       446.25
Name: fare, dtype: float64

In [42]:
#  4. Get the average fare per ride for each city type. 
urban_avg_fare = urban_cities_df.groupby(["city"]).mean()["fare"]
suburban_avg_fare = suburban_cities_df.groupby(["city"]).mean()["fare"]
rural_avg_fare = rural_cities_df.groupby(["city"]).mean()["fare"]

urban_avg_fare_per_ride = urban_avg_fare / urban_ride_count
urban_avg_fare_per_ride

city
Amandaburgh            1.368981
Barajasview            1.151467
Carriemouth            1.048683
Christopherfurt        0.907476
Deanville              1.360139
                         ...
West Patrickchester    1.764570
West Robert            0.810447
West Samuelburgh       0.870704
Williamsstad           1.059225
Williamsview           1.329950
Length: 66, dtype: float64

In [7]:
# 5. Get the average fare per driver for each city type.

In [8]:
#  6. Create a PyBer summary DataFrame.

In [9]:
#  7. Cleaning up the DataFrame. Delete the index name
pyber_summary_df.index.name = None

In [10]:
#  8. Format the columns.

## Deliverable 2.  Create a multiple line plot that shows the total weekly of the fares for each type of city.

In [11]:
# 1. Read the merged DataFrame

In [12]:
# 2. Using groupby() to create a new DataFrame showing the sum of the fares 
#  for each date where the indices are the city type and date.

In [13]:
# 3. Reset the index on the DataFrame you created in #1. This is needed to use the 'pivot()' function.
# df = df.reset_index()

In [14]:
# 4. Create a pivot table with the 'date' as the index, the columns ='type', and values='fare' 
# to get the total fares for each type of city by the date.

In [15]:
# 5. Create a new DataFrame from the pivot table DataFrame using loc on the given dates, '2019-01-01':'2019-04-29'.

In [16]:
# 6. Set the "date" index to datetime datatype. This is necessary to use the resample() method in Step 8.
# df.index = pd.to_datetime(df.index)

In [17]:
# 7. Check that the datatype for the index is datetime using df.info()

In [18]:
# 8. Create a new DataFrame using the "resample()" function by week 'W' and get the sum of the fares for each week.

In [19]:
# 8. Using the object-oriented interface method, plot the resample DataFrame using the df.plot() function. 

# Import the style from Matplotlib.
from matplotlib import style
# Use the graph style fivethirtyeight.
style.use('fivethirtyeight')